In [26]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3 -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длины строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [5]:
lst = [len(i) for i in l1]
lst

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [6]:
n_of_str = [i for i in l1 if len(i) > 2]
n_of_str

['123', '123', '123']

4.15) Просуммировать произведение ключей на значения словаря d4

In [16]:
sum_of_multiply = sum(k * v for k, v in d4.items())
print(sum_of_multiply)

910

In [18]:
sum_of_multiply = sum(map(lambda n: n[0] * n[1], d4.items()))
sum_of_multiply

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [23]:
d7 = [(k, v) for k, v in d6.items() if k not in d5]
d7

[('h', 23), ('i', 24), ('j', 25), ('k', 26), ('l', 27)]

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [29]:
multiply_on_number_in_list = [ind*elem for ind, elem in enumerate(l2)]
multiply_on_number_in_list

[0, 4, -4, -9, 0, 55, 12]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [27]:
not_less_than_zero = [i  for i in l2 if i>=0]
not_less_than_zero

[2, 4, 0, 11, 2]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [30]:
change_on_number_in_list = [elem if elem >=0 else ind for ind, elem in enumerate(l2)]
change_on_number_in_list

[2, 4, 2, 3, 0, 11, 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [36]:
def mult(a, b):
    """
    Функция умножения двух чисел.

    Parameters:
        a (int, float): Первое число.
        b (int, float): Второе число.

    Returns:
        int, float: Результат умножения a на b
    """
    return a*b # перемножение числел и возврат значения

result1 = mult(7, 3)     # result1 равен 6
result2 = mult(9.9, 3)    # result2 равен 11.0
result3 = mult(0.5, 0.25)

print(result1, result2, result3)

21 29.700000000000003 0.125

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [21]:
def mult_1or3(a, b, c=1):
    return a*b*c

print(mult_1or3(2,2))
print(mult_1or3(5.5, 3, 12))
print(mult_1or3(5, 5, 3.1))

4
198.0
77.5

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [22]:
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

print(mult_1or3(*a1)) # распаковка листа и передача в функцию умножения
print(mult_1or3(*a2))
print(mult_1or3(*a3))
print(mult_1or3(*a4[:3])) # распаковка первых трех элементов списка и передача в функцию умножения
print(mult_1or3(*a4[-3:])) # аналогично, что и пример выше, только распаковка трех элементов списка

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [59]:
def m(*args):
    res = 1
    for i in args:
        res *= i
    return res

print(m(*a1))
print(m(*a2))
print(m(*a3))
print(m(*a4))

750
3
3850
15000

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию

In [62]:
def sm(a,b):
    return int(a+b)

def mlt(a,b):
    return int(a*b)

def div(a,b):
    if b!=0:
        return a//b

def diff(a,b):
    return int(a-b)
    

n1 = 3
n2 = 7
print(sm(n1,n2))
print(mlt(n1,n2))
print(div(n1,n2))
print(diff(n1,n2))

10
21
0
-4

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [5]:
def calc(expression):
    # Создаем словарь с операциями и соответствующими функциями
    operations = {
        '+': lambda x, y: x + y,
        '-': lambda x, y: x - y,
        '*': lambda x, y: x * y,
        '/': lambda x, y: x // y,  # Целочисленное деление
        '%': lambda x, y: x % y,   # Остаток от деления
        '**': lambda x, y: x ** y   # Возведение в степень
    }

    # Разбиваем строку на число и операцию
    num1, op, num2 = str(expression).split()

    # Преобразуем числа из строк в целые числа
    num1 = int(num1)
    num2 = int(num2)

    if op == '/':
        if num2 == 0:
            print('Нельзя делить на 0')
    else:
        return operations[op](num1, num2)
        

# Пример использования
print(calc('13 - 5'))  
print(calc('16 % 5'))
print(calc('4 / 0'))
print(calc('7 ** 3'))

8
1
Нельзя делить на 0
None
343

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [ ]:
def param(mark="BMW",model="X5", color = "white", year = "2006", probeg = "215 000км", number= "X012АМ77", price = "1 115 000 руб"):

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [7]:
def to_text(num):
    
    units = {
        0: '', 1: 'один', 2: 'два', 3: 'три', 4: 'четыре',
        5: 'пять', 6: 'шесть', 7: 'семь', 8: 'восемь', 9: 'девять'
    }
    tens = {
        10: 'десять', 11: 'одиннадцать', 12: 'двенадцать', 13: 'тринадцать',
        14: 'четырнадцать', 15: 'пятнадцать', 16: 'шестнадцать', 17: 'семнадцать',
        18: 'восемнадцать', 19: 'девятнадцать'
    }
    # Словарь для десятков
    tens_dict = {
        2: 'двадцать', 3: 'тридцать', 4: 'сорок',
        5: 'пятьдесят', 6: 'шестьдесят', 7: 'семьдесят',
        8: 'восемьдесят', 9: 'девяносто'
    }

    # Если число от 0 до 9, просто возвращаем его текстовое представление
    if num < 10:
        return units[num]
    # Если число от 10 до 19, возвращаем соответствующее представление
    elif num < 20:
        return tens[num]
    # Для чисел от 20 до 99
    else:
        # Получаем десятки и единицы
        tens_digit = num // 10
        units_digit = num % 10
        # Формируем текстовое представление числа
        text = tens_dict[tens_digit]
        if units_digit:
            text += ' ' + units[units_digit]
        return text
    
    
numb = int(input())
to_text(numb)

33

'тридцать три'

9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [9]:
def to_int(text):
    numbers = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4,
        'пять': 5, 'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9,
        'десять': 10, 'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13,
        'четырнадцать': 14, 'пятнадцать': 15, 'шестнадцать': 16, 'семнадцать': 17,
        'восемнадцать': 18, 'девятнадцать': 19,
        'двадцать': 20, 'тридцать': 30, 'сорок': 40, 'пятьдесят': 50,
        'шестьдесят': 60, 'семьдесят': 70, 'восемьдесят': 80, 'девяносто': 90
    }
    hundreds = {
        'сто': 100, 'двести': 200, 'триста': 300, 'четыреста': 400, 'пятьсот': 500,
        'шестьсот': 600, 'семьсот': 700, 'восемьсот': 800, 'девятьсот': 900
    }

    # Разбиваем текст на слова
    words = text.split()

    # Инициализируем результат
    result = 0
    # Инициализируем переменную для хранения текущего числа сотен
    current_hundreds = 0

    for word in words:
        # Проверяем, есть ли это слово в словаре сотен
        if word in hundreds:
            current_hundreds = hundreds[word]
        # Проверяем, есть ли это слово в словаре чисел
        elif word in numbers:
            result += numbers[word]
        else:
            # Если слово не является числом или сотней, возможно это "или"
            if word != 'и':
                raise ValueError("Неверный формат числа")
    # Добавляем текущее значение сотен к результату
    result += current_hundreds

    return result

i = input()
to_int(i)

двадцать пять

25

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"

In [19]:
inp = input()
def calc(n):
    
    r = n.split()
    numb = to_int(r[0])
    numb2 = to_int(r[-1])
    
    operations = {
        'плюс': '+',
        'минус': '-',
        'умножить на': '*'
    }
    
    op = ' '.join(r[1:-1])
    
    if op not in operations:
        raise ValueError("Неверная операция")
    
    operation_symbol = operations[op]
    
    result = eval(str(numb) + operation_symbol + str(numb2))
    
    return result

calc(inp)

два умножить на четыре

8